# ignore only saved model binaries (keep plots/metrics)
models/**/*.keras
models/**/*.h5
models/**/*.ckpt
models/**/saved_model/
models/**/variables/
models/**/assets/

# usual python junk
**/__pycache__/
**/*.pyc
.ipynb_checkpoints/
